.modal-window {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}
.modal-window.active {
  opacity: 1;
  pointer-events: all;
}

.modal-window-content {
  position: relative;
  padding: 40px;
  border-radius: 30px;
  background-color: #fff;
  border: 1px solid var(--gold, #b3904e);
  transform: scale(0.5);
  transition: 0.3s;
  max-height: 600px;
}
.modal-window-content.active {
  transform: scale(1);
}

.modal-window-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: #bebebe;
  cursor: pointer;
  transition: 0.3s;
}
.modal-window-close:hover {
  color: #000;
}
